<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{navbarBrand}}</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" style="cursor: pointer;">Matches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;">Messages</a>
    </li>
    <li class="nav-item" *ngIf="loggedIn()">
      <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
    </li>
  </ul>


  <div class="dropdown"
       *ngIf="loggedIn()">
    <a class="dropdown-toggle text-light">
      Welcome User
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#"><i fa fa-user></i>Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#"><i fa fa-sign-out></i>Logout</a>
    </div>
  </div>


  <form class="form-inline my-2 my-lg-0"
        #loginForm="ngForm" (ngSubmit)="login()" *ngIf="!loggedIn()">
    <input class="form-control mr-sm-2" type="text" placeholder="Username"
           name="username" required [(ngModel)]="model.username">
    <input class="form-control mr-sm-2" type="password" placeholder="Password"
           name="password" required [(ngModel)]="model.password">
    <button class="btn btn-success my-2 my-sm-0" type="submit"
            [disabled]="!loginForm.valid">Login</button>
  </form>

</nav>

<pre>
  LoggedIn: {{loggedIn()}}
  localStorage token: {{getToken()}}
</pre>

<!-- Lista Valorizzazione Form -->
<!--  

  <form class="form-inline my-2 my-lg-0" #loginForm="ngForm" (ngSubmit)="login()">
    <input class="form-control mr-sm-2" type="text" placeholder="Username"
           name="username" required [(ngModel)]="model.username" #username="ngModel">
    <input class="form-control mr-sm-2" type="password" placeholder="Password"
           name="password" required [(ngModel)]="model.password" #password="ngModel">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
  </form>


<pre>
  Form Valid: {{loginForm.valid}}
  Form Touched: {{loginForm.touched}}
  Form Dirty: {{loginForm.dirty}}
  Form Values: {{loginForm.value | json}}

  Username Valid: {{username.valid}}
  Username Touched: {{username.touched}}
  Username Dirty: {{username.dirty}}
  Username Value: {{username.value}}

  Password Valid: {{password.valid}}
  Password Touched: {{password.touched}}
  Password Dirty: {{password.dirty}}
  Password Value: {{password.value}}
</pre> 
-->
